<div class="header">
    <h3>About</h3>
</div>


<div class="logo">
    <h1>Crypto 200</h1>
    <p>The 200 Largest Crypto Assests Indexed</p>
</div>

<div class="crypto">
<% if crypto_two_hundred > 0 %>
<h1 id="green">+ <%= crypto_two_hundred %>%</h1>
<% elsif crypto_two_hundred < 0 %>
<h1 id="red"><%= crypto_two_hundred %>%</h1>
<% else %>
<h1 id="black"><%= crypto_two_hundred %>%</h1>
<% end %>
</div>


<div class="percentagebar">
  <div class="insidepercentagebar" style="width:<%= red_percentage.to_i %>%"%></div>
</div>


<div class="advancingdeclining">
<h3>Advancing Assets: <span id="green"><%= in_the_green %> (<%= green_percentage.to_i %>%)</span> | 

Declining Assets: <span id="red"><%= in_the_red %> (<%= red_percentage.to_i %>%)</span></h3>
</div>


<div class="advancingdeclining">
  <h3>Biggest Gainers:<br></h3><br>

  <table>
    <%    biggest_winners_names_and_percentage.each do |winner_name, winner_percentage| %>
  <tr>
    <td><%= winner_name %>  &nbsp&nbsp<span id="green"><%= winner_percentage %>%</span></td>
       </tr>
          <% end %>
  </table>   
</div>



<div class="advancingdeclining">
  <h3>Biggest Decliners:<br></h3><br>

  <table>
    <%    biggest_losers_names_and_percentage.each do |loser_name, loser_percentage| %>
  <tr>
    <td><%= loser_name %>  &nbsp&nbsp<span id="red"><%= loser_percentage %>%</span></td>
       </tr>
          <% end %>
  </table>   
</div>


<br>
<div class="marketcap">
<h3>Crypto 200 Total Market Cap: <%= number_to_currency(total_market_cap)  %></h3>
</div>







